header{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;

}
#logo{
    background: url('z-learn11.jpg');
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.nav-bar {
    list-style-type: none;
   margin-top: 25px;
   font-weight: bolder;
   font-size: 20px;
    padding: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    overflow: hidden;
}

.nav-bar a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: blue;
}

.nav-bar a.active {
    color: blue;
}
.contact-link{
    font-size: 1rem;
    display: flex;
}
.contact-link .fas{
    font-size: 1rem;
    margin-left: 15px;
    padding: 14px 16px;
    display: inline-block;
}
/* main{
    background: url('');
} */