header{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;

}
#logo{
    background: url('/img/z-learn11.jpg');
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.nav-bar {
    list-style-type: none;
   margin-top: 25px;
   font-weight: bolder;
   font-size: 15px;
    padding: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    overflow: hidden;
}

.nav-bar a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: blue;
}

.nav-bar a.active {
    color: blue;
}
.contact-link {
    margin-top: 35px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.contact-link i {
    font-size: 1.6rem;
    margin-right: 30px;
    color: rgba(19, 75, 19, 0.616); 
}
.contact-link i:hover{
    font-size: 2rem;
    color: rgba(53, 175, 53, 0.616); 
}
@media  only screen and (max-width : 950px) {
    header{
        margin-left: 0;
        
    }
    .nav-bar{
        display: none;
    }
    .contact-link{
        display: none;
    }
    #logo{
        width: 200px;
        height: 150px;
    }
}

/* main {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden; 
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    height: 100%;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover; 
    object-position: center; 
} */
main {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden; 
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    max-width: 80%; 
    height: 100%;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover; 
    object-position: center;
    z-index: -1;
}
.video-content{
    position: absolute;
    color: white;
   top: 25%;
    left: 12%;
}
.video-content h1{
    margin-top: 20px;
    font-size: 3.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.video-content .line{
    margin-top: 50px;
    height: 2px;
    background-color: white;
    width: 70%;
    
}
.download-button-container{
    display: flex;
}
.download-button-container img{
    cursor: pointer;
    height: 100px;
    width: 200px;
}
.download-button-container img:nth-child(2){
    height: 70px ;
    margin-top: 15px;
    margin-left: 15px;
}
.description{
    padding: 104px 90px 104px 90px;
    display: flex;
    flex-direction: column;
}
.line{
    background-color: rgba(19, 75, 19, 0.616);
    width: 40%;
    height: 5px;
    margin-top: 250px;
}
.line_2{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(19, 75, 19, 0.616);
    margin-bottom: 80px;

}
.descrip-1,.descrip-2{
    display: flex;
    justify-content: space-between;

}

.animate-scroll {
    opacity: 0;
    transition: opacity 0.5s ease; 
}

@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate {
    animation: slide 1s ease;
}

.stay-visible {
    opacity: 1 !important;
}

@keyframes slideRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-left-to-right {
    animation: slideRightToLeft 2s ease;
}

.descrip-1 h1{ 
    font-size: 5rem;
    line-height: 6rem;
    width: 40%;
    font-family: Vollkorn, sans-serif;
    color: rgba(19, 75, 19, 0.616);
}
.descrip-2 p:nth-child(1){
    width: 40%;
}
.descrip-2 p:nth-child(2){
    width: 40%;
}
.descrip-1,.descrip-2 p{
    font-size: 1.6rem;
    line-height: 2;
}
.glance{
    width: 90%;
    font-family: Vollkorn, sans-serif;
    font-size: 1.5rem;
    text-align: center;

}
.counter{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgba(19, 75, 19, 0.616) ;
    font-size: 69px;
    margin-bottom: 10rem;
}
  .count {
    font-weight: bold;
  }
   
  .counter-item {
    text-align: center;
  }
  
  .label {
    color: black;
    font-weight: bolder;
    display: block;
    font-size: 20px;
    margin-top: 5px;
  }
  .element-help{
    width: 100%;
    background-color: rgba(117, 110, 110, 0.178);

    height: auto;
  }
.help {
    margin: 0 137px;
    padding: 10px 0;
}

.help-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    
}

.text {
    width: 40%;
    
}

.text h2 {
    color: rgba(19, 75, 19, 0.616);
    font-weight: bolder;
    font-size: 4.5rem;
}

.text p {
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    line-height: 1.8rem;
    font-size: 1.3rem;
    
}
.text button {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}
.text button:hover {
    background-color: rgb(180, 42, 42);
}

.image-1{
    
    height: 575px;
    width: 780px;
    background: url('/img/phone\ z-learn\ 5.jpg');
    background-position: center;
    background-size: 80% 150%;
    background-repeat: no-repeat;
    border-radius: 15px;

    

}

.help-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-3 {
    /* Add styles for help-3 */
}
.help-3 .fa{
    font-family: Font Awesome 5 Free;
    font-weight: 900;
    font-size: 2rem;
    color: blue;
}
.help-3 h1:nth-child(2){
    font-size: 3rem;
    line-height: 4rem;
    font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  width: 80%;
}
.help-3 p{
    color: blue;
    font-size: 24px;
    font-family: vollkorn, serif;
}

  .app-program{
    display: flex;
    padding: 104px 90px 104px 90px;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .app-program h1{
    margin-top: 0;
    font-size: 4rem;
    width: 40%;
    font-family: monospace Georgia, 'Times New Roman', Times, serif;
    line-height: 4rem;
    color: rgba(19, 75, 19, 0.616) ;
  }
  .app-program-description{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .line_3{
    width: 30%;
    height: 5px;
    background-color: rgba(19, 75, 19, 0.616);
  }
  .app-program-description p{
    line-height: 2rem;
    font-size: 24px;
  }
  #school-program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 104px 90px 104px 90px;
    padding-top: 0;
}

.school {
    width: calc(33.33% - 30px);
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.image{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.school-name{
    color:rgba(19, 75, 19, 0.616) ;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bolder;
    line-height: 3rem;
}
.school-description{
    font-size: 24px;
    line-height: 2rem;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
  }
  
  .whatsapp-float img {
    width: 60px; 
    height: auto; 
  }
  .download-and-start{
    display: flex;
    background-color: rgba(117, 110, 110, 0.178);
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .download-and-start img{
    width: 272px;
    height: 100px;
  }
  .download-and-start h4{
    width: 40%;
    margin: 0;
    margin-top: 20px;
    font-family: vollkorn, serif;
    line-height: 3rem;
    font-size: 3rem;
    color: rgba(19, 75, 19, 0.616) ;
  }
  .know-about-us{
    padding: 104px 90px 104px 90px;
    max-width: 70rem;
    height: auto;
    margin: 0 auto;
    background-color: #4175fc;
    font-family: "open sans", sans-serif;
    color: #fff;
    border-radius: 8px;
    font: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .know-about-us h3{
    font-size: 3rem;
  }
  .know-about-us #email, #button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  input::placeholder{
    font-style: italic;
    opacity: 0.5;
  }
  .know-about-us button{
    color: #4175fc;
    font-weight: bold;
  }


